<div class="jumbotron animated fadeIn fast">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="assets/img/logo-udg.png" class="img-preserve" alt="Responsive image">
            </div>
            <div class="col-9 ">
                <h1 class="display-4">¡Bienvenido de nuevo Carlos Arceo!</h1>

                <hr class="my-4">
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Universidad De Guadalajara</p>
                    <footer class="blockquote-footer">Red Univesitaria de Jalisco </footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>